form{
    width: 45%;
    
    margin: 0 auto;
    padding: 5% 20%;
   

}
a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}
button{
    width: 94%;
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
}
input{
    width:90%;
    padding:15px;
}
#checkbox{
    width: auto;
}
#signin{
    color: white;
}
.line-section{
    display: grid;
    grid-template-columns: auto 250px auto;
 
    width: 94%;
}
#middle-text{
    padding-left:30%;
}



.logos{
    
    padding-left: 45%;
  
}